<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Rodzaj adresu</th>
        <th scope="col">Ulica</th>
        <th scope="col">Numer mieszkania</th>
        <th scope="col">Numer domu</th>
        <th scope="col">Miasto</th>
        <th scope="col">Kod pocztowy</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let address of addresses">
        <td>{{ address.id }}</td>
        <td>{{ address.addressType }}</td>
        <td>{{ address.street }}</td>
        <td>{{ address.apartmentNumber }}</td>
        <td>{{ address.houseNumber }}</td>
        <td>{{ address.city }}</td>
        <td>{{ address.zipCode }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
