<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nazwa kontaktu</th>
        <th scope="col">Rodzaj kontaktu</th>
        <th scope="col">Email</th>
        <th scope="col">Telefon</th>
        <th scope="col">Akcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.name }} {{person.lastName}}</td>
        <td>{{ person.type }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.phoneNumber }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
