
<div class="contact-data">


  <div class="details-navbar">
    <h1>Dane ogólne</h1>
    <div class="buttons">
      <button class="btn" [routerLink]="['/personDetails', (personId)]">Szczegóły</button>
      <button class="btn" routerLink="/contactList">Lista kontaktów</button>
    </div>
  </div>

  <form name="person" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <div>
      <label for="name">Imię</label><br>
      <input id="name" type="text"  name="name" [(ngModel)]="person.name"  #name="ngModel"/>
    </div>

    <div>
      <label for="lastName">Nazwisko</label><br>
      <input id="lastName" type="text"  name="lastName" [(ngModel)]="person.lastName" required #lastName="ngModel"/>
      <div *ngIf="f.submitted && lastName.invalid">
        <div *ngIf="lastName.errors.required">Nazwisko jest wymagane</div>
      </div>
    </div>

    <div>
      <label for="pesel">PESEL</label><br>
      <input id="pesel" type="text"  name="pesel" [(ngModel)]="person.pesel" minlength="11" maxlength="11" #pesel="ngModel"/>
      <div *ngIf="f.submitted && pesel.invalid">
        <div *ngIf="pesel.errors.maxlength || pesel.errors.minlength">PESEL musi składać się z 11 znaków</div>
      </div>
      <div *ngIf="!isNaN(person.pesel)">
        PESEL może składać się wyłącznie z cyfr
      </div>
    </div>

    <div>
      <label for="email">Email</label><br>
      <input id="email" type="email" name="email" [(ngModel)]="person.email" email #email="ngModel"/>
      <div *ngIf="f.submitted && email.invalid">
        <div *ngIf="email.errors.email">Email musi być poprawny</div>
      </div>
    </div>

    <div>
      <label for="phoneNumber">Telefon</label><br>
      <input id="phoneNumber" type="text"  name="phoneNumber" [(ngModel)]="person.phoneNumber" #phoneNumber="ngModel"/>
    </div>

    <div>
      <label for="additionalInformations">Dodatkowe Informacje</label><br>
      <textarea id="additionalInformations" [(ngModel)]="person.additionalInformations" #additionalInformations="ngModel" name="additionalInformations" rows="4" cols="50">
        </textarea>
    </div>


    <div class="line"></div>

    <h1>Adres:</h1>

    <h2>Lista adresów:</h2>
    <div *ngFor="let add of addresses">
      <span id="addressListElement" (click)="fillAddressData(add)">{{add.addressType}}</span>
      <span class="delete-address" (click)="delete(add)">Usuń</span>
    </div>

    <form name="address" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

      <div>
        <label for="addressType">Nazwa typu adresu</label><br>
        <input id="addressType" type="text"  name="addressType" [(ngModel)]="address.addressType" required  #addressType="ngModel"/>
        <div *ngIf="f.submitted && addressType.invalid">
          <div *ngIf="addressType.errors.required">Proszę podać nazwę typu adresu</div>
        </div>
      </div>

      <div>
        <label for="street">Ulica</label><br>
        <input id="street" type="text"  name="street" [(ngModel)]="address.street" required  #street="ngModel"/>
        <div *ngIf="f.submitted && street.invalid">
          <div *ngIf="street.errors.required">Proszę podać nazwę ulicy</div>
        </div>
      </div>

      <div>
        <label for="houseNumber">Nr domu</label><br>
        <input id="houseNumber" type="text"  name="houseNumber" [(ngModel)]="address.houseNumber" required  #houseNumber="ngModel"/>
        <div *ngIf="f.submitted && houseNumber.invalid">
          <div *ngIf="houseNumber.errors.required">Proszę podać numer domu</div>
        </div>
      </div>

      <div>
        <label for="apartmentNumber">Nr mieszkania</label><br>
        <input id="apartmentNumber" type="text"  name="apartmentNumber" [(ngModel)]="address.apartmentNumber" required  #apartmentNumber="ngModel"/>
        <div *ngIf="f.submitted && apartmentNumber.invalid">
          <div *ngIf="apartmentNumber.errors.required">Proszę podać numer mieszkania</div>
        </div>
      </div>

      <div>
        <label for="zipCode">Kod pocztowy</label><br>
        <input id="zipCode" type="text"  name="zipCode" [(ngModel)]="address.zipCode" required maxlength="6"  #zipCode="ngModel"/>
        <div *ngIf="f.submitted && zipCode.invalid">
          <div *ngIf="zipCode.errors.required">Proszę podać kod pocztowy</div>
        </div>
        <div *ngIf="!isZipCode(address.zipCode)">
          Kod pocztowy musi mieć format: xx-xxx
        </div>
      </div>



      <div>
        <label for="city">Miasto</label><br>
        <input id="city" type="text"  name="city" [(ngModel)]="address.city" required  #city="ngModel"/>
        <div *ngIf="f.submitted && city.invalid">
          <div *ngIf="city.errors.required">Proszę podać nazwę miasta</div>
        </div>
      </div>

      <div class="address-buttons">
        <p (click)="saveAddress(address)">Zapisz zmiany</p>
        <p (click)="addAddress()">Dodaj adress</p>
        <p (click)="clear()">Wyczyść</p>
      </div>

    </form>


    <div class="line"></div>


    <form name="obtaining" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

      <label for="obtainingWay">Sposób pozyskania</label><br>
      <select name="obtainingWay" id="obtainingWay" [(ngModel)]="obtaining.obtainingWay" required  #obtainingWay="ngModel" >
        <option value="none"></option>
        <option value="Rekomendacja">Rekomendacja</option>
        <option value="konferencja i szkolenie">konferencja i szkolenie</option>
        <option value="Media społecznościowe">Media społecznościowe</option>
        <option value="Strona www">Strona www</option>
      </select>

      <div *ngIf="obtaining.obtainingWay === 'Rekomendacja'">
        <div>
          <label for="details">Rekomendujący</label><br>
          <input id="details" type="text"  name="details" [(ngModel)]="obtaining.details" #details="ngModel"/>
        </div>
      </div>

      <div *ngIf="obtaining.obtainingWay === 'konferencja i szkolenie'">
        <div>
          <label for="details">Konferencja/Szkolenie</label><br>
          <input id="details" type="text"  name="details" [(ngModel)]="obtaining.details" #details="ngModel"/>
        </div>
      </div>

      <div *ngIf="obtaining.obtainingWay === 'Media społecznościowe'">
        <label for="details">Media społecznościowe</label><br>
        <select name="details" id="details" [(ngModel)]="obtaining.details" size="5" required  #details="ngModel" >
          <option value="facebook">Facebook</option>
          <option value="twitter">Twitter</option>
          <option value="linkedin">LinkedIn</option>
          <option value="instagram">Instagram</option>
          <option value="inne">Inne</option>
        </select>

        <div *ngIf="this.showObtainingTextArea(obtaining)">
          <label for="details2">Jakie</label><br>
          <textarea id="details2" name="details2" rows="4" cols="50" [(ngModel)]="details2">

            </textarea>
        </div>
      </div>
    </form>
    <button id="save">Zapisz</button>
  </form>
</div>
